@charset "UTF-8";
/* CSS Document */

.resort-slides {
    -ms-transform: scaleY(1.5);
    /* IE 9 */
    transform: scaleY(1.5);
}
.resort-slides-hidden {
   display:none;
   -ms-transform: scaleY(1.5);
    /* IE 9 */
   transform: scaleY(1.5);
    
}   
.homestay-slides {
   -ms-transform: scaleY(1.5);
    /* IE 9 */
   transform: scaleY(1.5);
}
.homestay-slides-hidden {
   display: none;
   -ms-transform: scaleY(1.5);
    /* IE 9 */
   transform: scaleY(1.5);
}








    
